/*UNIVERSALS*/
@import
url('https://fonts.googleapis.com/css?family=Satisfy');
@import
url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

/*HEADER*/
.logo {
  width: 90px;
}

.satisfy-text {
  font-family: 'Satisfy', cursive;
  color: #ff827b;

}

/*JUMBOTRON SECTION*/
#jumbotron-background {
  background-image: url('../img/hero.jpg');
  height: 400px;
  background-size: cover;
  background-position: center;
}

#jumbotron-background p {
  color: #fff;
  font-size: 2em;
  margin-top: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
}

/*FEATURED SECTION */
.thumbnail {
  background-color: #EDF1F4;

}

.thumbnail img {
  padding: 9px;
}

/*-----FOOTER SECTION ------*/
footer {
  height: 150px;
  background-color: #231f20;
  padding-top: 15px;
}

footer img {
  width: 120px;
}

.section-border {
  border-right: 1px solid #323232;
}

.medium-grey {
  color: #aaaaab;
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

.icon1 {
  color: #BFC0C1

}

#copyright {
  text-align: center;
}
